@import '../../../../../../scss/variables.scss';



.listItem {
  .copyBtn {
    color: $color-foggy !important;
    padding: 5px 5px 5px 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  
    &:hover {
      color: $color-rausch !important;
    }
  }

  .deleteBtn {
    margin: 0;
    padding: 0 !important;
  
    span {
      color: $color-foggy !important;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &:hover span {
      color: $color-rausch !important;
    }
  }

  .expiredClockIcon {
    color: $color-rausch;
  }
}


