@import '../../../scss/variables.scss';

.wrapper {
  height: 100vh;
  text-align: center;

  .logo {
    color: $color-rausch;
    font-size: 100px;
  }

  .title {
    color: $color-rausch;
  }

  .subtitle {
    color: $color-foggy;
  }
}