// Color variables.
$color-rausch: #FF5A5F;
$color-babu: #00A699;
$color-arches: #FC642D;
$color-hof: #484848;
$color-foggy: #767676;

// Media queries min width.
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;