@import '../../../../../scss/variables.scss';
@import '../../../../../scss/mixins.scss';

.wrapper {
  position: relative;
  height: calc(100vh - 120px);

  .headerCol {
    width: 100%;

    .header {
      padding: 0;

      .btnSpan,
      .tagSpan {
        display: none;
      }
    }
  }

  .scrollableDiv {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 280px);

    .infiniteScroll {
      // To put endMessage and loader to the top.
      display: flex;
      flex-direction: column-reverse;

      .noChatHistoryRow {
        margin-top: 5%;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    .sendBtn {
      color: $color-rausch;
      padding: 6px 0 6px 6px;
      font-size: 20px;
      transition: color 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .input {
      width: 100%;
    }
  }

  @include md {
    .headerCol {
      .header {
        .btnSpan,
        .tagSpan {
          display: inline-block;
        }
      }
    }
  }
}